@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Libre Franklin", sans-serif;
  }

}

@layer components {
  .sidebar-items {
    @apply flex justify-start pl-3 pr-6 py-2 hover:bg-secondary hover:cursor-pointer hover:rounded-full items-center w-fit gap-5;
  }
}